.recharts-wrapper
	.recharts-cartesian-grid-horizontal
	.review-average-line:last-child {
	stroke-opacity: 0 !important;
}

.swagger-ui .information-container {
	display: none;
}

.MuiPopover-root {
	z-index: 9999 !important;
}

.fr-alert__title:empty {
	margin-bottom: 0;
}

.MuiAutocomplete-popper {
	z-index: 9999 !important;
}
