.recharts-wrapper
	.recharts-cartesian-grid-horizontal
	.review-average-line:last-child {
	stroke-opacity: 0 !important;
}

.swagger-ui .information-container {
	display: none;
}

.MuiPopover-root {
	z-index: 9999 !important;
}

.fr-alert__title:empty {
	margin-bottom: 0;
}

.MuiAutocomplete-popper {
	z-index: 9999 !important;
}

ol.no-bullets-point {
	counter-reset: steps-counter;
}

ol.no-bullets-point > li p::before {
	counter-increment: steps-counter;
	content: counter(steps-counter);
}

ol.no-bullets-point > li{
	list-style-type: none !important;
}

ol.no-bullets-point > li::marker {
	content: none;
}