# Mailer
NODEMAILER_HOST=localhost
NODEMAILER_PORT=1025
NODEMAILER_USER=null
NODEMAILER_PASSWORD=null
NODEMAILER_FROM="Équipe JDMA contact.jdma@design.numerique.gouv.fr"
NODEMAILER_BASEURL=http://localhost:3000

# AUTH
NEXTAUTH_SECRET=secretauth
NEXTAUTH_URL=http://localhost:3000
JWT_SECRET=mysecret
JWT_SIGNING_KEY=mykey
JWT_ENCRYPTION_KEY=myencryptionkey
JWT_ENCRYPTION_ALGORITHM=HS512
JWT_EXPIRATION_TIME=2592000 # 1 month in seconds

# FORM APP URL
NEXT_PUBLIC_BO_APP_URL=http://localhost:3000
NEXT_PUBLIC_FORM_APP_URL=http://localhost:3001

POSTGRESQL_ADDON_URI="postgresql://user:password@127.0.0.1:5432/jdma"

ES_ADDON_URI=https://localhost:9200
ES_ADDON_USER="elastic"
ES_ADDON_PASSWORD="ES_ADDON_PASSWORD"

REDUCED_ADMIN_TEAM="admin@example.com"

NEXT_PUBLIC_USER_SETTINGS_COOKIE_KEY=jdma-user-settings

#MATOMO
NEXT_PUBLIC_MATOMO_URL="https://stats.beta.gouv.fr/"
NEXT_PUBLIC_MATOMO_SITE_ID=XXX

#PROCONNECT
PROCONNECT_DOMAIN="fca.integ01.dev-agentconnect.fr"
PROCONNECT_CLIENT_ID=""
PROCONNECT_CLIENT_SECRET=""

#INSEE
INSEE_API_URL="https://api.insee.fr"
INSEE_API_KEY=""
