# Mailer
NODEMAILER_HOST=host.net
NODEMAILER_PORT=587
NODEMAILER_USER=user
NODEMAILER_PASSWORD=password
NODEMAILER_FROM=your@email.com
NODEMAILER_BASEURL=http://localhost:3000

# AUTH
NEXTAUTH_SECRET=secretauth
NEXTAUTH_URL=http://localhost:3000
JWT_SECRET=mysecret
JWT_SIGNING_KEY=mykey
JWT_ENCRYPTION_KEY=myencryptionkey
JWT_ENCRYPTION_ALGORITHM=HS512
JWT_EXPIRATION_TIME=2592000 # 1 month in seconds

# FORM APP URL
NEXT_PUBLIC_BO_APP_URL=http://localhost:3000

DATABASE_URL="postgresql://user:password@127.0.0.1:5433/jdma"

ELASTIC_HOST=https://localhost:9200
ELASTIC_USERNAME="elastic"
ELASTIC_PASSWORD="elastic_password"
